flows.json
[{"id":"9b3c00b6.1a044","type":"tab","label":"YESIL HOME","disabled":false,"info":""},{"id":"e00a4690.2d8888","type":"debug","z":"9b3c00b6.1a044","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":600,"wires":[]},{"id":"33cea2d1.5c6e86","type":"mqtt in","z":"9b3c00b6.1a044","name":"","topic":"gasDedector","qos":"2","datatype":"auto","broker":"b06b761b.15667","nl":false,"rap":true,"rh":0,"x":70,"y":400,"wires":[["e6df850e.87d128","e00a4690.2d8888","1b06a1c7.85126e","f4d1992e.8766a8","2916de5f.5b2782"]]},{"id":"1ad3144b.9c06c4","type":"mqtt out","z":"9b3c00b6.1a044","name":"","topic":"ortamLed","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b06b761b.15667","x":840,"y":340,"wires":[]},{"id":"e6df850e.87d128","type":"ui_gauge","z":"9b3c00b6.1a044","name":"","group":"67e264e9.c98c2c","order":0,"width":0,"height":0,"gtype":"wave","title":"Deger","label":"ppm","format":"{{value}}","min":"200","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"201","x":410,"y":640,"wires":[]},{"id":"46c30b20.38f144","type":"function","z":"9b3c00b6.1a044","name":"","func":"var deger=Number(msg.payload);\nvar led=0;\nif(deger<210)\n    led=1;\nelse \nled=0;\nmsg.payload=led;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":340,"wires":[["1ad3144b.9c06c4"]]},{"id":"d541089e.d9d628","type":"mqtt out","z":"9b3c00b6.1a044","name":"","topic":"valve","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b06b761b.15667","x":870,"y":180,"wires":[]},{"id":"c84322ef.99083","type":"ui_switch","z":"9b3c00b6.1a044","name":"","label":"openClose","tooltip":"","group":"67e264e9.c98c2c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"x":610,"y":160,"wires":[["e102daea.5a14d8"]]},{"id":"aece408f.7b11c","type":"influxdb batch","z":"9b3c00b6.1a044","influxdb":"66c841d8.f9d0c","precision":"","retentionPolicy":"","name":"influxBatch","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":520,"wires":[]},{"id":"1b06a1c7.85126e","type":"function","z":"9b3c00b6.1a044","name":"","func":"var sayi=parseFloat(msg.payload);\n\nmsg.payload=[{\n    measurement:\"gasdedector2\",\n    fields:{\n        sensor:\"GasDedector\",\n        gas:sayi\n    }\n}];\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":460,"wires":[["aece408f.7b11c"]]},{"id":"2627e642.50ad5a","type":"switch","z":"9b3c00b6.1a044","name":"OTO/MANUEL","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":240,"wires":[["46c30b20.38f144"],["c84322ef.99083"]]},{"id":"f4d1992e.8766a8","type":"ui_button","z":"9b3c00b6.1a044","name":"","group":"67e264e9.c98c2c","order":3,"width":0,"height":0,"passthru":false,"label":"oto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":250,"y":200,"wires":[["2627e642.50ad5a"]]},{"id":"2916de5f.5b2782","type":"ui_button","z":"9b3c00b6.1a044","name":"","group":"67e264e9.c98c2c","order":3,"width":0,"height":0,"passthru":false,"label":"manuel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":320,"wires":[["2627e642.50ad5a"]]},{"id":"e102daea.5a14d8","type":"function","z":"9b3c00b6.1a044","name":"","func":"var edeger=Number(msg.payload);\nvar led=0;\nif(edeger<210)\n    led=1;\nelse \nled=0;\nmsg.payload=led;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":100,"wires":[["d541089e.d9d628"]]},{"id":"b06b761b.15667","type":"mqtt-broker","name":"","broker":"10.77.60.2","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"67e264e9.c98c2c","type":"ui_group","name":"Gas","tab":"15d7a31f.5f545d","order":1,"disp":true,"width":"6","collapse":false},{"id":"66c841d8.f9d0c","type":"influxdb","hostname":"10.77.60.3","port":"8086","protocol":"http","database":"evDb","name":"influxDB","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"15d7a31f.5f545d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]